@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar: #F8F9FB;
  --chatArea: #F4F6F8;
  --inputArea: #FFFFFF;
  --startNewChat: #155aef;
  --border: #e5e7eb;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --sidebar: #1D1D20;
  --chatArea: #212124;
  --inputArea: #2B2B30;
  --startNewChat: #38383B;
  --border: #232327;
  --themeBgModalBtn: #1E1E22;
  --themeIconBg: #303033;
  --sendChatBg: #1C64F2;
  --aiAnswerBg: #2B2B2F;
}

body {
  @apply transition-colors duration-300;
  background: var(--background);
  color: var(--foreground);
}